<nav>
    <div class="nav-title">
      <div><h1><a href="/">My gallery</a></h1></div>
    </div>
    <div class="nav-btn">
      <a id="go-to-gallery-btn" href="/">Go to Gallery</a>
      <a id="add-photo-btn" href="/add-image-form">Add a new Photo</a>
      <form class="search-form" action="/search" method="get">
        <input type="text" name="keyword" id="keyword" placeholder="search image">
      </form>
    </div>
  </nav>